# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*.pyc

*$py.class
.pytest_cache

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv/
.venv/
pip-wheel-metadata/
hi my name is mustafa nd shu239982
# Environment variables / secrets
*.env
.envrc
.envrc/
.env*/
*.secret
SPM_SECRET

# Mamba/Conda environments
*.conda
*.yml
*.yaml

# Flask specific
instance/
*.db
*.sqlite3

# Personal/Production Vaults (keep test vault in git)
data/*personal*.vault.json
data/*production*.vault.json
data/*.backup

# Logs
*.log

intel/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDEs and editors
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Ignore vault files
*.vault.json

# Other
__MACOSX/
logs/
